section.services {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;

  h2 {
    font-family: serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  p{
    margin-bottom: 70px;
  }

  .card {
    margin-bottom: 40px;
    border: none;
    background: #F8FCFD;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;

    .card-body {
      padding-bottom: 50px;

      img {
        margin: 40px 0;
      }

      h5 {
        font-family: serif;
      }

      p {
        color: $text-color;
      }

      &:hover {
        box-shadow: $box-shadow;
      }
    }
  }
}