$main-color: #4458dc;
$main-color2: #7950EA;
$title-color: #000000;
$background-color: #fff;
$text-color: #666464;
$border-color: #201f1f17;
$gradint-color: linear-gradint(90deg,#4458dc 0%,#854fee 100%);
$shadow-color: 0px 10px 30px rgba(118, 85, 255, .3);
$box-shadow: 0px 10px 30px rgba(52, 52, 61, 0.205);
$font: 'Roboto', sans-serif;