section.about#about
  .container
    .row
      .col-md-6
        img.img-fluid(src="./img/about-us.png", alt="about-us" draggable= "false")
      .col-md-5.text-left
        h2.text-uppercase#responsive_headline let me itroduce myself
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum iure obcaecati vel possimus officia maiores perferendis ut! Quos, perspiciatis.
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here
        a.text-uppercase(href= "#") download cv