section.client
  .container
    .row
      .col-lg-6
        .row.first
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo1.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo2.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo3.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo4.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo5.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo6.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo7.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo8.png" alt="logo" draggable= "false")
          .col-12.col-sm-6.col-lg-4
            .brands
              img(src="./img/brands/logo9.png" alt="logo" draggable= "false")
      .col-lg-6
        .experience-area
          .years-area.d-flex.flex-row
            h2.years.p-3 10
            h2
              span Years
              span Experience
              span Working
          .call-area.d-flex.flex-row.flex-wrap
            i.phone.fas.fa-phone-alt.fa-3x.px-
            .call-now
              a.text-uppercase.h4(href="#") call now
              span.py-2 (+20) 01015710812
          .bg-panel