section.customer#customer
  .container
    .title.text-center
      h2.text-uppercase.h1 client say about me
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, deleniti recusandae. Esse incidunt rem repellendus ab voluptates maxime? Nemo, numquam!
    .carousel.py-lg-5
      .owl-carousel.owl-theme
        .row.client
          .col-lg-4.client-img
            img.img-fluid(src="./img/testimonials/t1.jpg" alt="client")
          .col-lg-8.about-client
            h4.text-uppercase mac hill
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus nostrum voluptatibus aperiam suscipit a rem ratione ipsa saepe fugit amet.
        .row.client
          .col-lg-4.client-img
            img.img-fluid(src="./img/testimonials/t2.jpg" alt="client")
          .col-lg-8.about-client
            h4.text-uppercase john martin
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus nostrum voluptatibus aperiam suscipit a rem ratione ipsa saepe fugit amet.
        .row.client
          .col-lg-4.client-img
            img.img-fluid(src="./img/testimonials/t1.jpg" alt="client")
          .col-lg-8.about-client
            h4.text-uppercase mac hil
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus nostrum voluptatibus aperiam suscipit a rem ratione ipsa saepe fugit amet.
        .row.client
          .col-lg-4.client-img
            img.img-fluid(src="./img/testimonials/t2.jpg" alt="client")
          .col-lg-8.about-client
            h4.text-uppercase john martin
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus nostrum voluptatibus aperiam suscipit a rem ratione ipsa saepe fugit amet.
        .row.client
          .col-lg-4.client-img
            img.img-fluid(src="./img/testimonials/t1.jpg" alt="client")
          .col-lg-8.about-client
            h4.text-uppercase mac hill
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus nostrum voluptatibus aperiam suscipit a rem ratione ipsa saepe fugit amet.
        .row.client
          .col-lg-4.client-img
            img.img-fluid(src="./img/testimonials/t2.jpg" alt="client")
          .col-lg-8.about-client
            h4.text-uppercase john martin
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus nostrum voluptatibus aperiam suscipit a rem ratione ipsa saepe fugit amet.

