footer.text-center.d-flex.justify-content-center
  .row
    .title.col-12
      .brand
      img(src="./img/logo.png", alt="brand")
    .follow.col-12
      h2.text-uppercase follow me
    .links.col-12
      a(href="#")
          i.fab.fa-facebook-f
      a(href="#")
        i.fab.fa-instagram
      a(href="#")
        i.fab.fa-youtube
      a(href="#")
        i.fab.fa-twitter
    .copy.col-12
      p Copyright ©2019 All rights reserved | This template is made with by 
        a(href="#") Daily Tuition