nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href="#") 
      img(src="img/logo.png" alt="")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
      .mr-auto
      ul.navbar-nav.text-uppercase
        li.nav-item.active
          a.nav-link(href="#" data-value="home") home
        li.nav-item
          a.nav-link(href="#" data-value="about") about
        li.nav-item
          a.nav-link(href="#" data-value="services") services
        li.nav-item
          a.nav-link(href="#" data-value="portfolio") portfolio
        li.nav-item
          a.nav-link(href="#" data-value="customer") clients
        li.nav-item
          a.nav-link(href="#" data-value="subscribe") subscribe
