section.home#home
  .container
    .row
      .col-md-6.site-title
        h3.title-text Hey
        h1.title-text.text-uppercase i am adham
        h4.title-text.text-uppercase senior front-end developer
        .site-button
          .d-flex.flex-row.flex-wrap
            a.mr-4.text-uppercase(type="button" href= "#") hire me
            a.text-uppercase(type="button" href= "#") get cv
      .col-md-6.banner-img
        img.img-fluid(src="img/banner/banner-image.png", alt="banner-img" draggable="false")