section.portfoio#portfolio
  .container
    h2.text-uppercase#responsive_headline2 recently done project
    h2.text-uppercase#responsive_headline3 quality work
    .button-group
      button.active#btn1 All
      button(data-filter= ".popular") Popular
      button(data-filter= ".lasted") Lasted
      button(data-filter= ".following") Following
      button(data-filter= ".upcomping") upcomping
    .row.grid
      .col-lg-4.col-md-6.element-item.lasted
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p1.jpg")
              img(src="./img/portfolio/p1.jpg" alt="portfolio")
          .title
            h4.text-uppercase minimul desing
            span Lasted,Portfolio
      .col-lg-4.col-md-6.element-item.popular
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p2.jpg")
              img(src="./img/portfolio/p2.jpg" alt="portfolio")
          .title
            h4.text-uppercase paint wall
            span Popular,Portfolio
      .col-lg-4.col-md-6.element-item.popular
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p3.jpg")
              img(src="./img/portfolio/p3.jpg", alt="portfolio")
          .title
            h4.text-uppercase female light
            span Popular,Portfolio
      .col-lg-4.col-md-6.element-item.upcomping
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p4.jpg")
              img(src="./img/portfolio/p4.jpg", alt="portfolio")
          .title
            h4.text-uppercase fourth air
            span Upcoming,Portfolio
      .col-lg-4.col-md-6.element-item.following
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p5.jpg")
              img(src="./img/portfolio/p5.jpg", alt="portfolio")
          .title
            h4.text-uppercase together sign
            span Following,Portfolio
      .col-lg-4.col-md-6.element-item.upcomping
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p6.jpg")
              img(src="./img/portfolio/p6.jpg", alt="portfolio")
            h4.text-uppercase muiple fown
            span Upcoming,Portfolio
      .col-lg-4.col-md-6.element-item.following
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p7.jpg")
              img(src="./img/portfolio/p7.jpg", alt="portfolio")
          .title
            h4.text-uppercase green heaven
            span Following,Portfolio
      .col-lg-4.col-md-6.element-item.upcomping
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p8.jpg")
              img(src="./img/portfolio/p8.jpg", alt="portfolio")
          .title
            h4.text-uppercase camera lens
            span Upcoming,Portfolio
      .col-lg-4.col-md-6.element-item.following
        .our-project.text-center
          .img
            a.test-popup-link(href="./img/portfolio/p9.jpg")
              img(src="./img/portfolio/p9.jpg", alt="portfolio")
          .title
            h4.text-uppercase fly male
            span Following,Portfolio


