section.services#services
  .container
    h2.text-uppercase services offers
    p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
    .row
      .card.col-lg-3.col-sm-6
        .card-body.text-center
          img(src="./img/services/s1.png", alt="card")
          h5.text-uppercase.card-title web developer
          p.card-text Some quick example text to build on the card title and make up the bulk of the   card's content.
      .card.col-lg-3.col-sm-6
        .card-body.text-center
          img(src="./img/services/s2.png", alt="card")
          h5.text-uppercase.card-title web developer
          p.card-text Some quick example text to build on the card title and make up the bulk of the   card's content.
      .card.col-lg-3.col-sm-6
        .card-body.text-center
          img(src="./img/services/s3.png", alt="card")
          h5.text-uppercase.card-title web developer
          p.card-text Some quick example text to build on the card title and make up the bulk of the   card's content.
      .card.col-lg-3.col-sm-6
        .card-body.text-center
          img(src="./img/services/s4.png", alt="card")
          h5.text-uppercase.card-title web developer
          p.card-text Some quick example text to build on the card title and make up the bulk of the   card's content.