section.subscribe#subscribe
  .container.sub
    .row
      .col-lg-12.text-center.title
        h4.text-uppercase get update from any where
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, consequuntur.
    .d-sm-flex.justify-content-center
      form(action="")
        .row.d-flex.flex-row.flex-wrap
          .col-md-8.input-textbox
            input.form-control(type="text" name="" id="txtmail" placeholder="Email")
          .col-md-4
            .btn-submit
              button.btn.btn-success.foat-right(type= "submit") Subscribe