doctype
html(lang="en") 
	head
		include includes/head
	body
		include includes/header
		include includes/home
		include includes/about
		include includes/client
		include includes/services
		include includes/portfolio
		include includes/customer
		include includes/subscribe
		include includes/footer
		include includes/script